body,html {
    /* margin-top: 60px; */
    background-color: transparent;
}

body
{
    overflow: hidden;
}

.main-body{
    top: 46px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    position: fixed;
}

#navbar {
    right: 0;
    left: 0;
}

.nav-btns {
    margin-top: -41px;
    margin-right: 5px;
    background-color: #2b3d4e;
}

.top-bar {
    height: 46px;
    background-color: #2b3d4e;
    margin-right: 0;
    margin-left: 0;
}

.brand {
    font-size: 18px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}
